index.html
script.js
week2 experiment.js
week2 traffic light.js
ex2-classes.js
ex3-object.js
ex4-object-shared-methods.js
ex5-prototype.js
1-find-mentors.js
2-class-list.js
ex1-closure-example.js


C:/Users/user1/Desktop/prep-exce- java- week1/Databases/node_modules

# Ignore node_modules
node_modules/
**/node_modules/


Databases/package-lock.json